<!DOCTYPE html>
<html lang="en">
<head>
    <title>SSR test</title>
</head>
<body>
<div id="root"><%- html %></div>
<script src="/index.js" charset="utf-8"></script>
<script src="/vendor.js" charset="utf-8"></script>
</body>
</html>